<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<style>
* {
    box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */

body {
		background-color:#F0F3F5;
		 
		
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.bor{
		padding-top: 50px;
		padding-right: 10px;
		padding-bottom: 50px;
		padding-left: 150px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
	
}
</style>
</head>
<h2 class="text-center">VM Life Cycle Management</h2>

<body>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">VM Services</li>
  </ol>
</nav>
<h2 class="text-center">VM Services</h2>
<div class="bor">
<div class="row">
  <div class="column" >
	<div class="card" style="width: 12rem;">
		<img class="card-img-top" src="/images/clone_vm.png" alt="Clone VM" height="120">
			<div class="card-body">
				
					
						<a href="/clone_build/index" class="btn btn-info">Clone VM</a>
  </div>
</div>
<br/>
<br/>




<br/>
<br/>

<br/>
<br/>

</div>
  <div class="column">
	<div class="card" style="width: 12rem;">
		<img class="card-img-top" src="/images/power.jpeg" alt="Power Management " height="140">
			<div class="card-body">
				
					
						<a href="/power_management/index" class="btn btn-info">Power <br/> Management</a>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
	
<br/>
<br/>
	
</div>
<div class="column">
	<div class="card" style="width: 12rem;">
		<img class="card-img-top" src="/images/delete_vm.png" alt="Decommision a VM " height="120">
			<div class="card-body">
				
					
						<a href="/decommission/index" class="btn btn-info">Decommision<br/>a VM</a>
  </div>
</div>
<br/>
<br/>

<br/>
<br/>

<br/>
<br/>

</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
